<!--
The _ prefix of this file is just a naming conventionto help
the author recognize which template files are sub-templates
 -->
 <!--
	Sub templates are INCLUDED into the template (see user.html)
  -->


 <table class='table table-hover'>
 	<tr>

 		<td width='70px'>
 			<a href="{{ url_for('user', username=post.author.username) }}">
	 			<img src="{{ post.author.avatar(70) }}" />
	 		</a>
	 	</td>

 		<td>
 			{% set user_link %}
	 			<a href="{{ url_for('user', username=post.author.username) }}">
	 				{{ post.author.username }}
	 			</a>
 			{% endset %}
	 			{{ _('%(username)s said %(when)s',
	 					username=user_link, when=moment(post.timestamp).fromNow()) }}:
	 			<br>
	 			{{ post.body }}
	 		</td>

 	</tr>
 </table>

<!--
I wanted the username to be a link that points to the profile page of the user, not just the name, so I had to create an intermediate variable called user_link using the set and endset template directives, and then pass that as an argument to the translation function.
 -->