
{% extends 'bs-f_base.html' %}

{% from 'bootstrap/nav.html' import render_nav_item as rni %}


  {% block title %}
    {% if title %}{{ title }} - Microblog
    {% else %}My Microblog
    {% endif %}
  {% endblock title %}



  {% block navbar %}
  <nav class='navbar navbar-default'>
    <div class='container'>

      <div class='navbar-header'>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
        </button>
        {{ rni('index', 'Microblog') }}
      </div>

      <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <ul class='navbar-nav'>
          {{ rni('index', 'Home', use_li=True) }}
          {{ rni('explore', 'Explore', use_li=True) }}
        </ul>
        <ul class='navbar-nav navbar-right'>
          {% if current_user.is_anonymous %}
            {{ rni('login', 'Login', use_li=True) }}
          {% else %}
            {{ rni('user', 'Profile', use_li=True, username=current_user.username) }}
            {{ rni('logout', 'Logout', use_li=True) }}
          {% endif %}
        </ul>
      </div>

    </div>
  </nav>
  {% endblock navbar %}



  {% block content %}
    <div class='container'>

      {% with messages = get_flashed_messages() %}
      <!-- An interesting property of these flashed messages is that once they are requested once through the get_flashed_messages function they are removed from the message list, so they appear only once after the flash() function is called. -->
        {% if messages %}
          {% for message in messages %}
            <div class='alert alert-info' role='alert'>{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <!-- The block named `content` is used by Flask-Bootstrap, so I renamed my content block as `app_content`, as below. -->
      {% block app_content %}{% endblock %}

    </div>
  {% endblock content %}
