
<!doctype html>
<html lang='en'>
  <head>
    {% block head %}

      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=false'>

      {% block styles %}{{ bootstrap.load_css() }}{% endblock %}

      <title>
        {% if title %}{{ title }}{{ _('- Microblog') }}
        {% else %}{{ _('My Microblog') }}
        {% endif %}
      </title>

    {% endblock head %}
  </head>

  <body>
  {% block navbar %}{% endblock %}

  {% block content %}{% endblock %}

  {% block scripts %}
    {{ bootstrap.load_js() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
      function translate(sourceElem, destElem,  sourceLang, destLang) {
        $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
        $.post('/translate', {
          text: $(sourceElem).text(),
          source_language: sourceLang,
          dest_language: destLang
        }).done(function(response) {
          $(destElem).text(response['text'])
        }).fail(function() {
          $(destElem).text("{{ _('Error: Could not contact server.') }}");
        });
      }
    </script>
  {% endblock %}

</body>
</html>